<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rogercendros.receptes" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReceptaActivity"
            android:label="@string/title_activity_recepta"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".NovaRecepta"
            android:label="@string/title_activity_nova_recepta"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".FotosActivity"
            android:label="@string/title_activity_fotos" >
        </activity>
        <activity
            android:name=".EditarRecepta"
            android:label="@string/title_activity_editar_recepta"
            android:launchMode="singleTop"
            android:parentActivityName=".ReceptaActivity" >
        </activity>
        <activity
            android:name=".IngredientsActivity"
            android:label="@string/title_activity_ingredients"
            android:parentActivityName=".NovaRecepta" >
        </activity>
        <activity
            android:name=".EditIngredientsActivity"
            android:label="@string/title_activity_edit_ingredients"
            android:parentActivityName=".EditarRecepta" >
        </activity>
        <activity
            android:name=".IngredientSubstitut"
            android:label="@string/title_activity_ingredient_substitut"
            android:launchMode="singleTop"
            android:parentActivityName=".NovaRecepta" >
        </activity>
        <activity
            android:name=".Filtre"
            android:label="Filtrar"
            android:parentActivityName=".MainActivity" >
        </activity>
    </application>

</manifest>
